.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use viewport height to take full height of the screen */
  background-image: url("../../../public/bg2.jpg");
  background-size: cover;
}

.title {
  color: black;
}

.table {
   width: 100%;
   border-collapse: collapse;
   color: black;
 }
 
 .table th,
 .table td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }
 