.container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
  height: 100vh; /* Use viewport height to take full height of the screen */
  background-image: url("../../../public/bg2.jpg");
  background-size: cover;
  color: black;
}

.noteItem {
  margin: 2%;
}

.referralHide {
  margin: 2%;
  display:none
}

.notesContainer {
  padding-top: 60px;
}
 