/* styles/Home.module.css */
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Use viewport height to take full height of the screen */
   background-image: url("../../../public/bg.jpg");
   background-size: cover;
 }
 
 .roundedButton {
   padding: 10px 20px;
   margin: 10px; /* Spacing between buttons */
   border: none;
   border-radius: 20px; /* Rounded corners */
   background-color: #0070f3; /* Example button color */
   color: white;
   font-size: 16px;
   cursor: pointer;
   outline: none;
   transition: background-color 0.3s;
 }
 
 .roundedButton:hover {
   background-color: #0056b3; /* Darker shade on hover */
 }
 